$accent1: #fcf;

body {
	margin: 0;

	font-family: sans-serif;
}

header {
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: $accent1;
	box-shadow: 0 0 5px grey;

	a {
		padding: 0 20px;

		img {
			height: 30px;
			width: auto;
		}
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}